[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
flask-bootstrap="*"


[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bootstrap="*"
flask-email="*"
flask-views="*"
flask-moment="*"
flask-wtf="*"
flask-login="*"

"psycopg2" = "*"
gunicorn = "*"
Jinja2 = "*"



[requires]
python_version = "3.6"
