{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Navbar text with an inline element
  </span>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
 <h2>List of users</h2>
  {% for u in users %}
    <p>{{ u.name }} -- {{ u.email }}</p>
  {% else %}
    <p>No users found in the db. You can make some above.</p>
  {% endfor %}

  </div>
</div>

{% endblock %}