<!DOCTYPE html>

<html lang="pt">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
  </head>

  <body>
    <div class="row">    
        <div id="loginbox" style="margin-top:70px;margin-left:40px;margin-right:40px" class="col-12">                    

            <div class="panel panel-warning" style="border-color:brown">                           
                <div style="padding-top:20px; text-align:left" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-12"></div>
                    
                    <div class="col-12" style="padding-bottom: 20px; text-align:center">
                        <img src="{{ url_for('static', filename='img/logo.jpg') }}" width=280 ></img>
                    </div>

                    <form id="loginform" class="form-horizontal" style="align:center" role="form">     
                        <div style="margin-bottom: 25px" class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="usuário ou email" required>                                        
                        </div>
                            
                        <div style="margin-bottom: 25px" class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="senha" required>
                        </div>
                            
                        <div style="margin-top:10px; text-align:center" class="form-group ">
                            <!-- Button -->
                            <div class="col-12">
                                <button id="btn-login" type="submit" href="#" class="btn btn-warning btn-lg">Entrar  </button>
                            </div>
                        </div>

                        <div class="row">
                            <h5><div style="float:right; position: relative; top:-10px; padding-right:15px"><a style="text; color: gray" href="#">Esqueçi a senha?</a></div></h5>
                        </div>

                        <div class="col-12">
                            <div style="border-top: 1px solid#888; padding-top:15px" >
                            <h5>
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()" style="text; font-weight:bold; color:brown; text-align:left " > Crie uma conta gratuitamente!                                         
                                    Registre-se agora
                                </a>
                            </h5>
                            </div>
                        </div>

                    </form>                                                        
                </div> 
            </div>          
        </div>
        
        <div id="signupbox" style="display:none; margin-top:20px;margin-left:30px;margin-right:30px" class="col-12">                    
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="panel-title">Informe os dados para o registro </div>
                </div>  

                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" role="form">
                                                
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                                                        
                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="nomecompleto" placeholder="Nome Completo" required>
                        </div>

                        <div class="col-12 control">
                            <input type="email" style="margin-bottom: 15px" class="form-control form-control-lg" name="email" placeholder="Email" required>
                        </div>

                        <div class="col-12">
                            <input type="Telefone" style="margin-bottom: 15px" class="form-control form-control-lg" name="celular" placeholder="Telefone Celular" required>
                        </div>

                        <div class="col-12">
                            <input type="date" style="margin-bottom: 15px" class="form-control form-control-lg" name="celular" placeholder="Data Nascimento" required>
                        </div>                        
                        
                        <div class="col-12">
                            <select id="inputState" class="form-control" style="margin-bottom: 15px; color=gray " required>
                                <option selected>Sexo</option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                                <option value="3">Outro</option>
                            </select>
                        </div>                                                

                        <div class="col-12">
                            <input type="password" style="margin-bottom: 15px" class="form-control form-control-lg" name="senha" placeholder="Senha" required>
                        </div>
                            
                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="resenha" placeholder="Digite novamente a senha" required>
                        </div>

                        <div class="form-group" style="text-align:right; padding-right:15px">
                            <!-- Button -->                                        
                            <div class="col-12">
                                <button id="btn-voltar" type="button" class="btn btn-link" style="margin-right: 20px" onclick="$('#signupbox').hide(); $('#loginbox').show()">Voltar para login</button>                                                
                                <button id="btn-signup" type="submit" class="btn btn-primary" ><i class="icon-hand-right"></i> Enviar </button>
                            </div>
                        </div>    

                    </form>             

                </div>
            </div>                
         </div> 
    </div>    
  </body>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('form-horizontal');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

</html>



