<!DOCTYPE html>

<html lang="pt">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
  	<meta charset="UTF-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
  	<script type="text/javascript">
    	jQuery(function($) { });
	</script>
  </head>

  <body>
    <div class="row">    
        <div id="loginbox" style="margin-top:70px;margin-left:40px;margin-right:40px" class="col-12">                    

            <div class="panel panel-warning" style="border-color:brown">                           
                <div style="padding-top:20px; text-align:left" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-12"></div>
                    
                    <div class="col-12" style="padding-bottom: 20px; text-align:center">
                        <img src="{{ url_for('static', filename='img/logo.jpg') }}" width=280 ></img>
                    </div>

                    <form id="loginform" class="form-horizontal" style="align:center" role="form">     
                        <div style="margin-bottom: 25px" class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="email" class="form-control" name="username" value="" placeholder="email" required>                                        
                        </div>
                            
                        <div style="margin-bottom: 25px" class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="senha" required>
                        </div>
                            
                        <div style="margin-top:10px; text-align:center" class="form-group ">
                            <!-- Button -->
                            <div class="col-12">
                                <button id="btn-login" type="submit" href="#" class="btn btn-warning btn-lg">Entrar  </button>
                            </div>
                        </div>

                        <div class="row">
                            <h5><div style="float:right; position: relative; top:-10px; padding-right:15px"><a style="text; color: gray" href="#">Esqueçi a senha?</a></div></h5>
                        </div>

                        <div class="col-12">
                            <div style="border-top: 1px solid#888; padding-top:15px; text-align:center" >
                            <h5>
                                <label>Crie sua conta gratuitamente!  </label>                            
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()" style="text; font-weight:bold; color:brown; text-align:left " > Registre-se agora </a>
                            </h5>
                            </div>
                        </div>

                    </form>                                                        
                </div> 
            </div>          
        </div>
        
        <div id="signupbox" style="display:none; margin-top:20px;margin-left:30px;margin-right:30px" class="col-12">                    
        
            <div class="panel panel-primary" style="border-color:brown">

                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" role="form">

                        <div id="alert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="col-12">
                            <label style="color:brown"> Identificação </label>
                            <div style="border-top: 1px solid#888; padding-top:15px; text-align:center" >
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" id="nomecompleto" placeholder="Nome Completo" required>
                        </div>

                        <div class="col-12">
                            <input type="email" style="margin-bottom: 15px" class="form-control form-control-lg" id="email" placeholder="Email" required>
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="celular" id="celular" placeholder="Telefone Celular" required>
                            <script type="text/javascript">$("#celular").mask("(99) 99999-9999");</script>
                        </div>

                        <div style="margin-bottom: 15px" class="input-group">
                            <span class="input-group-addon">Data Nascimento</span>
                            <input type="date" class="form-control" id="dtnascimento" placeholder="Data Nascimento" required>
                        </div>

                        <div class="col-12">
                            <select id="sexo" class="form-control" style="margin-bottom: 15px; color=gray " required>
                                <option selected>Sexo</option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                                <option value="3">Outro</option>
                            </select>
                        </div>                                                

                        <div class="col-12">
                            <input type="password" style="margin-bottom: 15px" class="form-control form-control-lg" id="senha" placeholder="Senha" required>
                        </div>
                            
                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" id="resenha" placeholder="Digite novamente a senha" required>
                        </div>

                        <!-- Endereço --> 
                        <div class="col-12">
                            <label style="color:brown"> Endereço </label>
                            <div style="border-top: 1px solid#888; padding-top:15px; text-align:center" >
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="cep" id="cep" placeholder="Cep" required>
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="logradouro" id="logradouro" placeholder="Logradouro" required>
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="numero" id="numero" placeholder="Número" required>
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="complemento" id="complemento" placeholder="Complemento">
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="bairro" id="bairro" placeholder="Bairro" required>
                        </div>

                        <div class="col-12">
                            <input type="text" style="margin-bottom: 15px" class="form-control form-control-lg" name="cidade" id="cidade" placeholder="Cidade" required>
                        </div>

                        <div class="col-12">
                            <select id="estado" class="form-control" style="margin-bottom: 15px; color=gray " required>
                                <option selected>Estado</option>
                                <option value="PR">Paraná</option>
                            </select>
                        </div>

                        <!-- comandos --> 
                        <div class="form-group" style="text-align:center; padding-right:15px; margin-bottom:-1px">                                       
                            <div class="col-12">
                                <button id="btn-signup" type="submit" class="btn btn-warning" ><i class="icon-hand-right"></i> Enviar </button>                            
                            </div>
                        </div>    

                        <div class="form-group" style="text-align:right; padding-right:15px; margin-bottom:-1px">                                       
                            <button id="btn-voltar" type="button" class="btn btn-link" style="text-align:right; margin-right: 20px" onclick="$('#signupbox').hide(); $('#loginbox').show()">Voltar para login</button>                                                
                        </div>

                    </form>             

                    <!-- comandos --> 
                    <script type="text/javascript">
                        jQuery(function ($) {
                            $("#cep").change(function () {
                                var cep_code = $(this).val();
                                if (cep_code.length <= 0) return;
                                $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code },
                                    function (result) {
                                        if (result.status != 1) {
                                            alert(result.message || "Houve um erro desconhecido");
                                            return;
                                        }
                                        $("#cep").val(result.code);
                                        $("#logradouro").val(result.address);
                                        $("#bairro").val(result.district);
                                        $("#cidade").val(result.city);
                                        $("#estado").val(result.state);
                                        //$("#numero").focus();
                                    });
                            });
                        });

                        $("#cep").mask("99999-999");                
                    </script>
                </div>
            </div>                
         </div> 
    </div>    
  </body>
</html>



