<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">      
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>      
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <!-- corpo -->
  <body style="background:#fcf8ef">

      <div class="container" style="background:#F58634; border-color:#F58634">
        <div class="row">
          <div class="col-12">
          <!-- cabecalho Associado -->
            <span class="pull-left" style="margin-top:10px">
              <a id="btn-voltar" style="color:white; background:#F58634; border-color:#F58634", type="link" class="btn btn-link btn-md" href="{{ url_for('views.carregarAssociados') }}"><i class="material-icons">arrow_back_ios</i></a>                                                
            </span>

            <h4 style="color:white; margin-top:8px" > 
              <b style="margin-left:-2px">{{associado.nomefantasia}}</b> 
            </h4>
            
            <h5 style="color:white; margin-left:45px; margin-top:-20px">
              <br>
              {{associado.categoria}}
              <br>
              <span class ="badge badge-pill badge-warning pull-left" style="color:white; background:#F58634; margin-top:3px; margin-left:-8px; margin-bottom:3px" ><i class="glyphicon glyphicon-time"></i> {{associado.funcionamentodias}} - {{associado.funcionamentohorarioinicio}}h às {{associado.funcionamentohorariotermino}}h</span>                  
                                                  
              <span class="badge badge-pill badge-light pull-right" style="background:#fcf8ef; margin-top:-43px; margin-right:5px; margin-bottom:4px">   
                  <i style="font-size:24px; color:#F58634" class="glyphicon glyphicon-shopping-cart"></i> <br>                        
                  <a id="btn-carrinho" style="color:#F58634; font-size:15px"  type="link" class="btn btn-link" href="{{ url_for('views.obterCarrinho') }} ">                         
                      ver itens 
                  </a>                                                
              </span>   

            <h5>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">                    
            <div class="panel-group">            
            
              {% for categoria in associado.categorias_associado  %}
                  <div class="panel panel-default"style="margin-top:5px; margin-left:5px; margin-right:5px">
                    <div class="panel-body" >
                        <div class="media" >
                            <h4 style="color:#F58634; margin-top:1px"><b>{{categoria.catego.descricao}}</b></h4>

                          <img class="pull-left" src="{{ url_for('views.media', filename=categoria.catego.logo)}}" >
                          <span class="pull-right" style="margin-top:16px; margin-left:-5px; margin-right:-19px">
                              <a id="btn-produtos" style="color:#F58634; background:white" type="link" class="btn btn-link btn-md" href="{{ url_for('views.carregar_cardapio_produtos', associado_categoria_id=categoria.id) }}"><i class="material-icons">arrow_forward_ios</i></a>                                                                          
                          </span>
                          <div class="media-body">
                            <h6 style="color:#F58634; margin-top:5px; margin-right:2px">{{categoria.resumo}}</h6>            
                            <h6 style="color:#F58634"><b> <span class="badge" style="background:#F58634">{{categoria.prods|length}} opções</span> </b></h6>      
                          </div>

                        </div>                          
                    </div>
                  </div>
              {% endfor %}
                        
            </div>
        </div>
      </div>

  </body>
</html>