<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">       
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <!-- corpo -->
  <body style="background:#fcf8ef">

      <div class="container" style="background:#F58634; border-color:#F58634;">
        <div class="row">
          <div class="col-12" style="margin-left:-10px">
          <!-- cabecalho Associado -->
            <a id="btn-voltar" style="color:white" type="link" class="btn btn-link" href="{{ url_for('views.index') }}"><i class="material-icons">arrow_back</i></a>                                                
            <label style="color:white;margin-left:-10px"><h4><b>{{associado.nomefantasia}}</b></h4></label>
            
            {% if associado.situacao == "Disponivel" %}
                <span class ="badge badge-pill badge-warning pull-right" style="color:#F58634; background:white; margin-top:8px; margin-right:10px" ><i class="glyphicon glyphicon-ok"></i> Disponível</span>                                                                
            {% else %}
                <span class="badge badge-pill badge-light pull-right" style="color:gray; background:white; margin-right:10px; margin-top:8px" ><i class="glyphicon glyphicon-remove"></i> Indisponível</span>                            
            {% endif %}

            </br>
            <h5 style="color:white;margin-top:-10px; margin-left:45px">
              {{associado.categoria}}
              <span class ="badge badge-pill badge-warning pull-right" style="color:white; background:#F58634; margin-top:-3px; text-align:right; margin-right:5px" ><i class="glyphicon glyphicon-time"></i> {{associado.funcionamentodias}} - {{associado.funcionamentohorarioinicio}}h às {{associado.funcionamentohorariotermino}}h</span>                  
            <h5>
            
            <label style="color:white; background:#F58634; margin-left:43px; font-size:1px">
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star_border</i>
              <i class="material-icons">star_border</i>
            </label>                
            </br>
            <label style="color:white; background:#F58634; margin-left:45px; font-size:10px"> Avaliação</label>                
            
        </div>
        </div>
      </div>


  </body>
</html>