<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">      
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/myStyle.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>      
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <!-- corpo -->
  <body style="background:white">

      <div class="container" style="background:#F58634; border-color:#F58634">
        <div class="row">
          <div class="col-12">
          <!-- cabecalho Associado -->
            <h4 style="color:white; margin-top:1px" > 
              <a id="btn-voltar" style="color:white; background:#F58634; border-color:#F58634" type="link" class="btn btn-link btn-md" href="{{ url_for('views.index') }}"><i class="material-icons">arrow_back_ios</i></a>                                                
              <b style="margin-left:-12px">{{associado.nomefantasia}}</b> 
            </h4>
            
            <h5 style="color:white; margin-left:45px; margin-top:-15px">
              {{associado.categoria}}
              <br>
              <span class ="badge badge-pill badge-warning pull-left" style="color:white; background:#F58634; margin-top:3px; margin-left:-8px; margin-bottom:3px" ><i class="glyphicon glyphicon-time"></i> {{associado.funcionamentodias}} - {{associado.funcionamentohorarioinicio}}h às {{associado.funcionamentohorariotermino}}h</span>                  
                                                  
            <span class="badge badge-pill badge-light pull-right" style="background:white; margin-top:-50px; margin-right:5px">                           
                <a id="btn-carrinho" style="color:#F58634; font-size:15px"  type="link" class="btn btn-link" href="{{ url_for('views.index') }} ">     
                <i style="font-size:25px" class="glyphicon glyphicon-shopping-cart"></i> <br>0 itens 
              </a>                                                
            </span>      
            <h5>
          </div>
        </div>
      </div>

      <div class="container" style="margin-top:5px; margin-left:5px">
        <div class="row">        
          {% for categoria in associado.categorias_associado  %}
            <div class="media">
              <img class="pull-left " src="{{ url_for('views.media', filename=categoria.catego.logo)}}" >
              <div class="media-body">
                <h4 style="color:#F58634"><b>{{categoria.catego.descricao}}</b></h4>
                <h6 style="color:#F58634; margin-top:-5px">{{categoria.resumo}}</h6>                  
              </div>
            </div>          
            <hr>
          {% endfor %}

        </div>
      </div>

  </body>
</html>