<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">      

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/myStyle.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>      
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <!-- corpo -->
  <body style="background:#fcf8ef">
      <div id="cabec" name="cabec" class="container" style="background:#F58634; border-color:#F58634">
        <div class="row">
          <div class="col-12">
          <!-- cabecalho Associado -->
            <span class="pull-left" style="margin-top:5px">
              <a id="btn-voltar" style="color:white; background:#F58634; border-color:#F58634", type="link" class="btn btn-link btn-md"  href="{{ url_for('views.carregar_cardapio', associado_id=associado_categoria.associado_id)}}"><i class="material-icons">arrow_back_ios</i></a>                                                
            </span>

            <h4 style="color:white; margin-left:45px; margin-top:15px">
              <b>{{associado_categoria.catego.descricao}}</b>
            <h4>           
            <h6 style="color:white">{{associado_categoria.prods|length}} opções</h6>      

            <span class="badge badge-pill badge-light pull-right" style="background:#fcf8ef; margin-top:-63px; margin-right:5px; margin-bottom:4px">                           
                <a id="btn-carrinho" style="color:#F58634; font-size:15px"  type="link" class="btn btn-link" href="{{ url_for('views.index') }} ">     
                    <i style="font-size:24px" class="glyphicon glyphicon-shopping-cart"></i> <br>0 itens 
                </a>                                                
            </span>    
            
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">                    

            <div class="panel-group">            
                {% if associado_categoria.catego.descricao=='PIZZAS'%}
                    <div class="panel panel-default" style="margin-top:5px; margin-left:5px; margin-right:5px">                    
                      <div class="panel-body" >

                          <select name="txtTamanho" id="txtTamanho" class="form-control" style="color=gray; margin-bottom:10px" required>
                              <option selected>Escolha um tamanho</option>
                              <option value="12">Big (12 pedaços)</option>
                              <option value="8">Grande (8 pedaços)</option>
                              <option value="6">Média (6 pedaços)</option>
                              <option value="4">Pequena (4 pedaços)</option>
                          </select>

                          <div class="panel panel-default" >
                            <!-- itens \ -->
                            <div class="panel-heading" style="height:5rem; color:#F58634"><b>Sabores Selecionados</b>
                              <span class="badge badge-pill pull-right" style="font-size:10px; margin-right:-8px;margin-top:-6px; color:white;background:#F58634">
                                <i class="material-icons">add_shopping_cart</i><br>adicionar                                           
                              </span>                               
                            </div>
                            
                            <div class="panel-body">
                              <h5 style="text-align:center">Nenhum sabor selecionado</h5>
                            </div>
                            <!-- List group -->
                            <ul class="list-group">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                            </ul>      

                            <div class="panel-footer" style="background:#fcf8ef; text-align:right; font-size:16px; color:#F58634">
                                R$ 0,00
                            </div>

                          </div>                                                                                                                                                                                                           

                          <div class="panel panel-default" >
                            <div class="panel-heading" style="color:#F58634">
                                <b>Selecione até 3 sabores</b> 
                            </div>

                            <div class="panel-body">

                              <!--Accordion wrapper-->
                              <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true" >

                                {% for tipo in associado_categoria.tipos %}                                

                                    <!-- Accordion card -->
                                    <div class="card" >
                                      <!-- Card header -->
                                      <div class="card-header" role="tab" id='head{{tipo}}'>
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse{{tipo}}"
                                          aria-expanded="false" aria-controls="collapse{{tipo}}">
                                          <h5 class="mb-0"  style="color:red">
                                            {{tipo}} 
                                            {% set count = namespace(a=1) %}
                                            {% for produto in associado_categoria.prods %}
                                                {% if produto.tipo == tipo %}
                                                    {% set count.a = count.a + 1 %}                                             
                                                  {% endif %} 
                                            {% endfor %}         
                                            - {{ count.a }} opções
                                          </h5>
                                        </a>
                                      </div>

                                      <!-- Card body -->
                                      <div id="collapse{{tipo}}" class="collapse" role="tabpanel" aria-labelledby='head{{tipo}}'
                                        data-parent="#accordionEx1">
                                        <div class="card-body">
                                          {% for produto in associado_categoria.prods %}
                                             {% if produto.tipo == tipo %}
                                                {{produto.descricao}}<br>                                            
                                             {% endif %} 
                                          {% endfor %}                      
                                        </div>
                                      </div>

                                    </div>
                                    <!-- Accordion card -->
                                {% endfor %}

                              </div>


                            </div>
                          </div>

                      </div>                                         
                    </div>                    

                {% else %}
                  {% for produto in associado_categoria.prods  %}
                      <div class="panel panel-default"style="margin-top:5px; margin-left:5px; margin-right:5px">
                        <div class="panel-body" >
                            <div class="media" >
                                <h4 style="color:#F58634; margin-top:1px"><b>{{produto.descricao}}</b></h4>

                                <img class="pull-left" src="{{ url_for('views.media', filename=produto.logo)}}" >
                                <div class="media-body">
                                  <h6 style="color:#F58634; margin-top:5px; margin-right:2px">{{produto.resumo}}</h6>                                                                      
                                  <h4 style="color:#563A2D; margin-top:-3px"><b>R$ {{produto.valor}}</b> 
                                  </h4>      

                                  <span class="badge badge-pill pull-right" style="font-size:12px;margin-top:-18px; ccolor:white;background:#F58634">
                                    <i class="material-icons">add_shopping_cart</i><br>                                            
                                    <a type="text" id="btn-adicionar"  style="color:white"  href="{{ url_for('views.index') }}">
                                      adicionar ao <br> carrinho
                                    </a>       
                                  </span>                                                                                                                                         

                                  <h5 style=" margin-top:-1px">
                                    <span class="badge badge-pill" style="color:#F58634; background:white; border:1px solid #c0c0c0">
                                        <button id="btnMinus" type="button" class="btn btn-secondary btn-sm" style="border-color:white;background:white" onclick="this.parentNode.querySelector('input[name=txtQuantity]').stepDown()">
                                          <i class="glyphicon glyphicon-minus"></i>
                                        </button>                                

                                        <input class="quantity" min="1" name="txtQuantity" value="1" type="number"  style="color:#563A2D;height:3rem; width:3rem; text-align:center; background:white; border:1px solid #c0c0c0" disabled>

                                        <button id="btnPlus" type="button" class="btn btn-secondary btn-sm" style="border-color:white;background:white" onclick="this.parentNode.querySelector('input[name=txtQuantity]').stepUp()">
                                          <i class="glyphicon glyphicon-plus" ></i>
                                        </button>
                                    </span>
                                    
                                  </h5>                            
                              </div>
                            </div>                          
                        </div>
                      </div>
                  {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
      </div>      

  </body>
</html>