<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">      

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/myStyle.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>      
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <!-- corpo -->
  <body style="background:#fcf8ef">
      <div id="cabec" name="cabec" class="container" style="background:#F58634; border-color:#F58634">
        <div class="row">
          <div class="col-12">
          <!-- cabecalho Associado -->
            <span class="pull-left" style="margin-top:5px">
              <a id="btn-voltar" style="color:white; background:#F58634; border-color:#F58634", type="link" class="btn btn-link btn-md"  href="{{ url_for('views.carregar_cardapio', associado_id=associado_categoria.associado_id)}}"><i class="material-icons">arrow_back_ios</i></a>                                                
            </span>

            <h4 style="color:white; margin-left:45px; margin-top:15px">
              <b>{{associado_categoria.catego.descricao}}</b>
            <h4>           
            <h6 style="color:white">{{associado_categoria.prods|length}} opções</h6>      

            <span class="badge badge-pill badge-light pull-right" style="background:#fcf8ef; margin-top:-63px; margin-right:5px; margin-bottom:4px">                           
                <a id="btn-carrinho" style="color:#F58634; font-size:15px"  type="link" class="btn btn-link" href="{{ url_for('views.index') }} ">     
                    <i style="font-size:24px" class="glyphicon glyphicon-shopping-cart"></i> <br>0 itens 
                </a>                                                
            </span>    
            
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">                    

            <div class="panel-group">            
                {% if associado_categoria.catego.descricao=='PIZZAS'%}
                    <div class="panel panel-default"style="margin-top:5px; margin-left:5px; margin-right:5px">                    
                      <div class="panel-body" >

                          <select name="txtTamanho" id="txtTamanho" class="form-control" style="color=gray; margin-bottom:10px" required>
                              <option selected>Escolha um tamanho</option>
                              <option value="12">12 pedaços (big)</option>
                              <option value="8">8 pedaços (grande)</option>
                              <option value="6">6 pedaços (média)</option>
                              <option value="4">4 pedaços (pequena)</option>
                          </select>

                          <div class="panel panel-default">
                            <!-- Default panel contents -->

                            <div class="panel-heading">Itens Selecionados
                              <span class="badge badge-pill pull-right" style="font-size:10px; margin-right:-8px;margin-top:-6px; ccolor:white;background:#F58634">
                                <i class="material-icons">add_shopping_cart</i>adicionar                                            
                              </span>                                
                            </div>
                            
                            <h5 style="text-align:center">Nenhum item selecionado</h5>

                            <!-- List group -->
                            <ul class="list-group">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                            </ul>                                

                            <div class="panel panel-footer" style="background:white"> Selecione o sabor desejado

                                  <!--Accordion wrapper-->
                                  <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true" >

                                    <!-- Accordion card -->
                                    <div class="card" >

                                      <!-- Card header -->
                                      <div class="card-header" role="tab" id="headingTwo1">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                                          aria-expanded="false" aria-controls="collapseTwo1">
                                          <h5 class="mb-0">
                                            Tradicionais <i class="fas fa-angle-down rotate-icon"></i>
                                          </h5>
                                        </a>
                                      </div>

                                      <!-- Card body -->
                                      <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                                        data-parent="#accordionEx1">
                                        <div class="card-body">
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                          wolf
                        

                                        </div>
                                      </div>

                                    </div>
                                    <!-- Accordion card -->

                                    <!-- Accordion card -->
                                    <div class="card">

                                      <!-- Card header -->
                                      <div class="card-header" role="tab" id="headingTwo2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                                          aria-expanded="false" aria-controls="collapseTwo21">
                                          <h5 class="mb-0">
                                            Especiais <i class="fas fa-angle-down rotate-icon"></i>
                                          </h5>
                                        </a>
                                      </div>

                                      <!-- Card body -->
                                      <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                                        data-parent="#accordionEx1">
                                        <div class="card-body">
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                          wolf

                                        </div>
                                      </div>

                                    </div>
                                    <!-- Accordion card -->


                                <!-- Accordion card -->
                                    <div class="card">

                                      <!-- Card header -->
                                      <div class="card-header" role="tab" id="headingThree31">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                                          aria-expanded="false" aria-controls="collapseThree31">
                                          <h5 class="mb-0">
                                            Premium <i class="fas fa-angle-down rotate-icon"></i>
                                          </h5>
                                        </a>
                                      </div>

                                      <!-- Card body -->
                                      <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                                        data-parent="#accordionEx1">
                                        <div class="card-body">
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                          wolf

                                        </div>
                                      </div>

                                    </div>
                                    <!-- Accordion card -->


                                    <!-- Accordion card -->
                                    <div class="card">

                                      <!-- Card header -->
                                      <div class="card-header" role="tab" id="headingThree32">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree32"
                                          aria-expanded="false" aria-controls="collapseThree31">
                                          <h5 class="mb-0">
                                            Doces <i class="fas fa-angle-down rotate-icon"></i>
                                          </h5>
                                        </a>
                                      </div>

                                      <!-- Card body -->
                                      <div id="collapseThree32" class="collapse" role="tabpanel" aria-labelledby="headingThree32"
                                        data-parent="#accordionEx1">
                                        <div class="card-body">
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                          wolf

                                        </div>
                                      </div>

                                    </div>
                                    <!-- Accordion card -->

            
            
            
                                  </div>
                                  <!-- Accordion wrapper -->


                            </div>


                          </div>                                                                                                                                                                                                           
                      </div>                                         
                    </div>
                    

                {% else %}
                  {% for produto in associado_categoria.prods  %}
                      <div class="panel panel-default"style="margin-top:5px; margin-left:5px; margin-right:5px">
                        <div class="panel-body" >
                            <div class="media" >
                                <h4 style="color:#F58634; margin-top:1px"><b>{{produto.descricao}}</b></h4>

                                <img class="pull-left" src="{{ url_for('views.media', filename=produto.logo)}}" >
                                <div class="media-body">
                                  <h6 style="color:#F58634; margin-top:5px; margin-right:2px">{{produto.resumo}}</h6>                                                                      
                                  <h4 style="color:#563A2D; margin-top:-3px"><b>R$ {{produto.valor}}</b> 
                                  </h4>      

                                  <span class="badge badge-pill pull-right" style="font-size:12px;margin-top:-18px; ccolor:white;background:#F58634">
                                    <i class="material-icons">add_shopping_cart</i><br>                                            
                                    <a type="text" id="btn-adicionar"  style="color:white"  href="{{ url_for('views.index') }}">
                                      adicionar ao <br> carrinho
                                    </a>       
                                  </span>                                                                                                                                         

                                  <h5 style=" margin-top:-1px">
                                    <span class="badge badge-pill" style="color:#F58634; background:white; border:1px solid #c0c0c0">
                                        <button id="btnMinus" type="button" class="btn btn-secondary btn-sm" style="border-color:white;background:white" onclick="this.parentNode.querySelector('input[name=txtQuantity]').stepDown()">
                                          <i class="glyphicon glyphicon-minus"></i>
                                        </button>                                

                                        <input class="quantity" min="1" name="txtQuantity" value="1" type="number"  style="color:#563A2D;height:3rem; width:3rem; text-align:center; background:white; border:1px solid #c0c0c0" disabled>

                                        <button id="btnPlus" type="button" class="btn btn-secondary btn-sm" style="border-color:white;background:white" onclick="this.parentNode.querySelector('input[name=txtQuantity]').stepUp()">
                                          <i class="glyphicon glyphicon-plus" ></i>
                                        </button>
                                    </span>
                                    
                                  </h5>                            
                              </div>
                            </div>                          
                        </div>
                      </div>
                  {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
      </div>      

  </body>
</html>