<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css" integrity="sha256-+bpMasWDxDlsVpNW3oZlL7L4RacwsP70u2fZt6Rxrmc=" crossorigin="anonymous" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

    <link href="{{ url_for('static', filename='css/myStyle.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js" integrity="sha256-oj52qvIP5c7N6lZZoh9z3OYacAIOjsROAcZBHUaJMyw=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>      
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <!-- corpo -->
  <body style="background:#fcf8ef">
      <div id="cabec" name="cabec" class="container" style="background:#F58634; border-color:#F58634">
        <div class="row">
          <div class="col-12">
          <!-- cabecalho Associado -->
            <span class="pull-left" style="margin-top:3px">
              <a id="btn-voltar" style="color:white; background:#F58634; border-color:#F58634", type="link" class="btn btn-link btn-md"  href="{{ url_for('views.carregar_cardapio', associado_id=associado_categoria.associado_id)}}"><i class="material-icons">arrow_back_ios</i></a>                                                
            </span>

            <h4 id="lblCategoria" style="color:white; margin-left:45px; margin-top:15px">
              <b>{{associado_categoria.catego.descricao}}</b>
            <h4>           
            <h6 style="color:white"> <span class="badge" style="color:#F58634; background:white">{{associado_categoria.prods|length}} opções</span></h6>      

            <span class="badge badge-pill badge-light pull-right" style="background:#fcf8ef; margin-top:-68px; margin-right:5px; margin-bottom:4px">   
                <i style="font-size:24px; color:#F58634" class="glyphicon glyphicon-shopping-cart"></i> <br>                        
                <a id="btn-carrinho" style="color:#F58634; font-size:15px"  type="button" class="btn btn-link" href="{{ url_for('views.obterCarrinho') }} ">                         
                    ver itens 
                </a>                                                
            </span>    
            
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">                    

            <div class="panel-group">            
                {% if associado_categoria.catego.descricao=='PIZZAS'%}
                    <div class="panel panel-default" style="margin-top:5px; margin-left:5px; margin-right:5px">                    
                      <div class="panel-body">
                          <h4 style="text-align:center; margin-top:-5px; margin-bottom:-10px; color:#F58634;">Monte sua pizza escolhendo o tamanho e os sabores desejados</h4>
                          <hr>
                          <h5 style="text-align:center; margin-top:-5px; margin-bottom:5px; color:gray;">Escolha um Tamanho</h5>
                          
                          <h6 style="text-align:center; margin-top:10px; margin-bottom:15px;color:#F58634">
                            <span id="ex18-label-1" class="hidden" ></span>
                                    <input id="ex19" type="text" style="width:28rem"
                                          data-provide="slider"
                                          data-slider-ticks="[0, 1, 2, 3, 4]"
                                          data-slider-ticks-labels='["Nenhum", "Pequena", "Média", "Grande", "Big"]'
                                          data-slider-min="0"
                                          data-slider-max="4"
                                          data-slider-step="1"
                                          data-slider-value="0"
                                          data-slider-tooltip="show" />
                          </h6>

                          <div class="panel panel-default" style="margin-top:-5px" >
                            
                            <div class="panel-body">
                              <h5  id="lblNenhumSaborSelecionado" style="text-align:center; color:gray">Nenhum sabor selecionado</h5>
                              <h5  id="lblItensSelecionados" style="margin-top:-5px; text-align:center; color:gray; display:none">Sabores Selecionados</h5>

                              <table class="table table-striped" id="tblSaboresSelecionados" style="display:none; margin-bottom:-10px">
                                  <tbody >
                                  </tbody>
                              </table> 
                            </div>

                            <div id="paneSubTotal" class="panel-footer" style="display:none; background:#fcf8ef; text-align:right"><b>
                                <span id="lblPreco" class="pull-left" style="margin-top:12px; font-size:20px; color:#F58634">0.00</span>
                             
                                <button id="btnAdicionarPizzaCarrinho" type="button" class="btn btn-link btn-xs" style="background:#F58634; color:white">
                                  <i class="material-icons">add_shopping_cart</i><br>Adicionar ao carrinho
                                </button> </b>
                            </div>                             

                          </div>                                                                                                                                                                                                           

                          <div class="panel panel-warning" style="margin-top:10px; display:none" id="divSelecaoSabores" >
                            <div class="panel-heading" style="color:#563A2D; text-align:center " id="divSelecaoSaboresTitulo"> </div>
                            
                            <div class="panel-body" style="margin-top:-5px; margin-bottom:-20px">
                               <!--Accordion wrapper-->
                              <div class="accordion md-accordion" id="accordionCategoria" role="tablist" aria-multiselectable="true" >

                                {% for tipo in associado_categoria.tipos %}                                
                                    <!-- Accordion card -->
                                    <div class="card" >
                                      <!-- Card header -->
                                      <div class="card-header" role="tab" id='head{{tipo}}' >                                      
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse{{tipo}}" aria-expanded="false" aria-controls="collapse{{tipo}}">
                                          <h5 class="mb-0"  style="color:#F58634">
                                            <spam class="glyphicon glyphicon-record" ></spam>                                          
                                            {{tipo}} 
                                            {% set count = namespace(a=0) %}
                                            {% for produto in associado_categoria.prods %}
                                                  {% if produto.tipo == tipo %}
                                                    {% set count.a = count.a + 1 %}                                             
                                                  {% endif %}
                                            {% endfor %}         
                                            <span class="badge pull-right" style="color:white; background:#F58634">{{ count.a }} opções </span> 
                                          </h5>
                                        </a>                                                                         
                                      </div>
                                      <!-- Card body -->
                                      <div id="collapse{{tipo}}" class="collapse" role="tabpanel" aria-labelledby='head{{tipo}}' data-parent="#accordionEx1">
                                        <div class="card-body" >
                                          {% for produto in associado_categoria.prods %}
                                             {% if produto.tipo == tipo %}
                                                <div class="panel panel-default" style="margin-top:7px; margin-left:1px; margin-right:1px">
                                                  <div class="panel-body" >
                                                      <div class="media" >
                                                          <img class="pull-left" src="{{ url_for('views.media', filename=produto.logo)}}" >
                                                          <div class="media-body">
                                                            <h5 style="color:#F58634; margin-top:1px"><b>{{produto.descricao}}</b></h5>
                                                            <h6 style="color:#F58634; margin-top:-5px; margin-right:2px">{{produto.resumo}}</h6>                                                               

                                                            {% for tamanho in produto.tamanhos %}
                                                              <span class="badge badge-pill badge-xs pull-left" style="margin-left:-1px;margin-top:-5px; background:white; color:#563A2D; font-size:16px; display:none" name="{{tamanho.tamanho}}" > R$ {{tamanho.valor}}</span>
                                                            {% endfor %}                

                                                            <span class="badge badge-pill pull-right" style="font-size:10px; margin-top:-5px; color:white; background:#F58634">
                                                              <i class="material-icons">add</i><br>                                            
                                                              <button type="button" class="adicionaSabor btn-link"  style="color:white" name="adicionaSabor" value='{"id":"{{produto.id}}", "descricao":"{{produto.descricao}}", "resumo":"{{produto.resumo}}", "tipo":"{{produto.tipo}}", "valor":"{{produto.valor}}", "associado_id":"{{associado_categoria.associado_id}}", "associado_categoria":{{associado_categoria.id}} }'>
                                                                adicionar <br>sabor
                                                              </button>       
                                                            </span>                                                                                                                                         
                                                          </div>

                                                      </div>                          
                                                  </div>
                                                </div>
                                             
                                             {% endif %} 
                                          {% endfor %}                      
                                        </div>
                                      </div>
                                    </div>
                                    <hr>
                                    <!-- Accordion card -->
                                {% endfor %}

                              </div>
                            </div>
                          </div>

                      </div>                                         
                    </div>                    

                {% else %}
                  {% for produto in associado_categoria.prods  %}
                      <div class="panel panel-default"style="margin-top:5px; margin-left:5px; margin-right:5px">
                        <div class="panel-body" >
                            <div class="media" >
                                <h4 style="color:#F58634; margin-top:1px"><b>{{produto.descricao}}</b></h4>

                                <img class="pull-left" src="{{ url_for('views.media', filename=produto.logo)}}" >
                                <div class="media-body">
                                  <h6 style="color:#F58634; margin-top:5px; margin-right:2px">{{produto.resumo}}</h6>                                                                      
                                  <h4 style="color:#563A2D; margin-top:-3px"><b>R$ {{produto.valor}}</b> 
                                  </h4>      

                                  <span class="badge badge-pill pull-right" style="font-size:12px;margin-top:-30px; ccolor:white;background:#F58634">
                                    <i class="material-icons">add_shopping_cart</i><br>                                            
                                    <button type="button" class="btnAdicionarProdutoCarrinho btn btn-link btn-xs"  style="color:white"  value='{"id":"{{produto.id}}", "descricao":"{{produto.descricao}}", "resumo":"{{produto.resumo}}", "tipo":"{{produto.tipo}}", "valor":"{{produto.valor}}", "associado_id":"{{associado_categoria.associado_id}}", "associado_categoria":{{associado_categoria.id}} }'>
                                      adicionar ao <br> carrinho
                                    </button>       
                                  </span>                                                                                                                                         

                                  <h5 style=" margin-top:-1px">
                                    <span class="badge badge-pill" style="color:#F58634; background:white; border:1px solid #c0c0c0">
                                        <button id="btnMinus" type="button" class="btn btn-secondary btn-sm" style="border-color:white;background:white" onclick="this.parentNode.querySelector('input[name=txtQuantity]').stepDown()">
                                          <i class="glyphicon glyphicon-minus"></i>
                                        </button>                                

                                        <input class="quantity{{produto.id}}" min="0" name="txtQuantity" value="0" type="number"  style="color:#563A2D;height:3rem; width:3rem; text-align:center; background:white; border:1px solid #c0c0c0" disabled>

                                        <button id="btnPlus" type="button" class="btn btn-secondary btn-sm" style="border-color:white;background:white" onclick="this.parentNode.querySelector('input[name=txtQuantity]').stepUp()">
                                          <i class="glyphicon glyphicon-plus" ></i>
                                        </button>
                                    </span>
                                    
                                  </h5>                            
                              </div>
                            </div>                          
                        </div>
                      </div>
                  {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
      </div>      

  </body>
</html>