<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">       
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>
    <nav id="barTitulo" class="navbar navbar-inverse" style="background-color:#F58634; border-color:#F58634" role="navigation">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" style="border-color:white; background-color:#F58634">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  href="{{ url_for('views.index') }}" style="color:white; text-align:left"><b><span class="glyphicon glyphicon-cutlery"></span> Resthouse</b></a></br>
        </div>

        <span class="badge badge-pill badge-light pull-right" style="color:white; background-color:#F58634; margin-top:5px; margin-right:-10px">                            
            <a id="btn-perfil" style="color:white; font-size:15px"  type="link" class="btn btn-link" href="{{ url_for('views.atualizarPerfil')}}">
              Olá, {{ nome }}           
            </a>                                                

            <a id="btn-carrinho" style="color:white; font-size:15px"  type="link" class="btn btn-link" href="{{ url_for('views.obterCarrinho')}}">  
              <i style="font-size:25px" class="glyphicon glyphicon-shopping-cart"></i>             
            </a>                                                
          </span>  

        <div class="navbar-collapse collapse" >
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('views.obterPedidos')}}" style="color:white"><i class="material-icons">shopping_basket</i> Meus Pedidos</a></li>
            <li><a href="{{ url_for('views.carregarAssociados')}}" style="color:white"><i class="material-icons">storefront</i> Vendedores</a></li>
            <li><a href="{{ url_for('views.atualizarPerfil')}}" style="color:white"><i class="material-icons">account_circle</i> Dados Pessoais</a></li>
            <li><a href="{{ url_for('views.sair')}}" style="color:white"><i class="material-icons">exit_to_app</i> Sair</a></li>
          </ul>
        </div>
      </div>      
    </nav>


    <!-- corpo -->
    <body style="background-color:#fcf8ef">
        <div id="paneMenu" class="container" >
            <div class="row">
                <div class="col-12">
                    <h5 style="color:white; text-align:center">
                        <span class="pull-center" style="margin-top:-5px">     
                            <a id="btn-vendedores" style="color:white; background:#fcf8ef; border-color:#fcf8ef; color:#F58634" href="{{ url_for('views.carregarAssociados')}}" type="link" class="btn btn-link btn-lg" ><i class="material-icons">storefront</i><br>Vendedores/Estabelecimentos</a>                                                
                        </span>
                    </h5>
                    <h6 style="color:#F58634; text-align:center; margin-top:-20px">Acessar o cardápio de nossos parceiros cadastrados</h6>
                    <hr style="margin-left:40px; margin-right:40px">    

                    <h5 style="color:white; text-align:center">
                        <span class="pull-center" style="margin-top:-5px">     
                            <a id="btn-pedidos" style="color:white; background:#fcf8ef; border-color:#fcf8ef; color:#F58634" href="{{ url_for('views.obterPedidos')}}" type="link" class="btn btn-link btn-lg" ><i class="material-icons">lock</i><br>Pedidos</a>                                                
                        </span>
                    </h5> 
                    <h6 style="color:#F58634; text-align:center; margin-top:-20px">Acompanhe e avalie seus pedidos</h6>
                    <hr style="margin-left:40px; margin-right:40px">

                    <h5 style="color:white; text-align:center">
                        <span class="pull-center" style="margin-top:-5px">     
                            <a id="btn-sair" style="color:white; background:#fcf8ef; border-color:#fcf8ef; color:#F58634" href="{{ url_for('views.obterPedidos')}}" type="link" class="btn btn-link btn-lg" ><i class="material-icons">exit_to_app</i><br>Sair</a>                                                
                        </span>
                    </h5> 
                    <h6 style="color:#F58634; text-align:center; margin-top:-20px">Sair do aplicativo</h6>
                    <hr style="margin-left:40px; margin-right:40px">

               </div> 
            </div> 
        </div> 

    </body>
</html>


