<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">       
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <!-- corpo -->
  <body style="background:#fcf8ef">
    <div class="navbar navbar-inverse" style="background-color:#F58634; border-color:#F58634" role="navigation">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" style="border-color:white; background-color:#F58634">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  href="{{ url_for('views.index') }}" style="color:white; text-align:left"><b><span class="glyphicon glyphicon-cutlery"></span> Resthouse</b></a></br>
        </div>
        <h5 style="color:white; text-align:right">Olá, {{ nome }}</h5>
        <div class="navbar-collapse collapse" >
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('views.index') }}" style="color:white"><i class="material-icons">shopping_cart</i> Meus Pedidos</a></li>
            <li><a href="{{ url_for('views.index') }}" style="color:white"><i class="material-icons">account_circle</i> Dados Pessoais</a></li>
            <li><a href="{{ url_for('views.sair') }}" style="color:white"><i class="material-icons">exit_to_app</i> Sair</a></li>
          </ul>
        </div>
      </div>      
    </div>

    <div class="row" style="margin-top:-20px;margin-left:1px;margin-right:1px;background:#fcf8ef">           
      <div class="container" style="margin-top:5px; margin-bottom:5px; margin-left:15px; margin-right:15px">
        <div class="row">
              <div class="col-12">
                  <form id="filtra-associado-form" class="form-horizontal" role="form"  action="/home/filtrar" method="POST">
                  <div id="custom-search-input">
                      <div class="input-group col-12">
                        <input type="text" name="txtAssociadoFiltrar" id="txtAssociadoFiltrar" class="form-control input"  placeholder="Filtrar" />
                        <span class="input-group-btn">
                            <button style="color:white; background-color:#F58634; border-color:#F58634" class="btn btn-warning"  name="btnAssociadoFiltrar" id="btnAssociadoFiltrar" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                      </div>
                  </div>
                  </form>  
              </div>
        </div>
      </div> 

      {% for associado in associados %}
        <div class="container">
              <div class="row" style="margin-bottom:-15px">
                <div class="col-xs-18 col-sm-6 col-md-3">
                  <div class="thumbnail" style="border-color:c0c0c0">
                    <img src="{{ url_for('views.media', filename=associado.logo)}}" >
                    <div class="caption" style="margin-bottom:-20px">
                      <h4 style="color:#563A2D;margin-top: 1px">{{associado.nomefantasia}}</h4>
                      <h5 style="color:#563A2D;margin-top:-8px">{{associado.categoria}}<h5>
                      <h6><p style="color:gray;margin-top:-3px">{{associado.resumo}}</p></h6>

                      <h6>                      
                        {% if associado.taxaentrega == "S"%}
                          <i class="material-icons" style="font-size:17px">directions_bike</i> Entrega - R$ {{associado.valortaxaentrega}}
                        {% else %}
                          <i class="material-icons" style="font-size:17px">directions_bike</i> Entrega grátis
                        {% endif %}
                        <span class ="badge badge-pill badge-warning pull-right" style="background:#F58634; font-size:15px" ><i class="glyphicon glyphicon-star"></i> Novo<br><label style="font-size:9px;margin-top:5px">Avaliação</label> </span>                                                                 
                        <br>
                        <i style="margin-top:5px" class="glyphicon glyphicon-time"> </i> {{associado.funcionamentodias}} - {{associado.funcionamentohorarioinicio}}h às {{associado.funcionamentohorariotermino}}h
                      </h6>
                      
                      <hr>        

                      <h4 style="text-align:right; margin-top:-20px">                      
                        {% if associado.situacao == "Disponivel" %}
                          <a href="{{ url_for('views.carregar_cardapio', associado_id=associado.id)}}" id="btnAssociadoCardapio" class="btn btn-warning btn-md" style="margin-right:-8px;color:#F58634;border-color:white; background-color:white"> <i class="material-icons">fastfood</i> Ver Cardápio <i class="glyphicon glyphicon-chevron-right">  </i></a>                             
                        {% else %}  
                          <a id="btnAssociadoCardapio" class="btn btn-warning btn-md" style="margin-right:-8px;text;color:gray;border-color:white; background-color:white"> <span class="glyphicon glyphicon-remove"></span> Indisponível</a>                                                           
                        {% endif %}
                      </h4>

               </div>
                  </div>
                </div>                      
          </div><!--/row-->
        </div><!--/container -->
      {% else %}
        <div class="container">
          <div class="row" style="margin-top:60px">
            <h4 name="lblError" id="lblError" style="text-align:center; color:gray">Nenhum Associado foi localizado!</h4>
          </div>                      
        </div>                                            

      {% endfor %}
    </div>    

    </div>

  </body>
</html>


