                     <span id="lblTotalizadorCarrinho" class="badge badge-pill badge-light pull-left" style="text-align:left;font-size:15px; color:#563A2D; background:white; margin-top:-5px; margin-left:-7px; margin-bottom:4px"> 
                          <h5 id="lblTotalEntrega">(+) Entrega..: R$ 0,00</h5>
                          <h5 id="lblTotalProdutos">(+) Produtos: R$ 0,00</h5>
                          <hr style="margin-top: 3px; margin-bottom: 5px">
                          <h5 id="lblTotalCarrinho"><b>(=) Total:<b> R$ 0,00</b> </h5> 
                      </span>